/bin/
/.metadata/
/V_01/
/V_02/bin/
/V_02/.settings/
/V_02/.metadata/
V_02/.vscode/launch.json
/src/
.project
User-Behavior-Automation-master/.classpath
src/main.java
wordscapes/tessdata/
wordscapes/.classpath
wordscapes/.settings/org.eclipse.core.resources.prefs
wordscapes/.settings/org.eclipse.jdt.core.prefs
wordscapes/.settings/org.eclipse.m2e.core.prefs
wordscapes/eng.traineddata
wordscapes/resources/001.PNG
